body {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.07);
  font-weight: 300;
  font-family: "Taviraj", serif;
}
header {
  background-image: url(../images/banner.jpg);
  background-position: center;
  height: 100vh;
  position: relative;
}

nav {
  position: fixed !important;
  text-align: left;
  background-color: black;
  width: 100%;
  top: 0px;
  z-index: 100;
}
nav a {
  color: white;
  font-size: 20px;
}
.navbar-toggler {
  background-color: gray;
  font-size: 12px;
  color: white;
}
.nav-brand span {
  opacity: 70%;
  font-size: 0.8em;
}

nav a:hover {
  text-decoration: none;
}

.centered-intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.centered-intro h1 {
  font-size: 3.5em;
}
.centered-intro p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6em;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 30px;
}
.centered-intro a {
  text-decoration: none;
  padding: 5px 10px;
}
.centered-intro p span {
  color: white;
}

/* add margin to rows */
.ctn {
  margin: 7% auto 7%;
}
.firstContainerpad {
  padding-top: 7%;
  font-size: 15px;
}
.firstContainerpad p {
  font-size: 15px;
}
.firstContainerpad h4 {
  font-weight: 600;
  letter-spacing: 2px;
}

.parallax {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
.parallax p {
  opacity: 80%;
}
.overlay button .btn {
  border-color: rgba(255, 255, 255, 0.4);
}
.no-gutters {
  padding: 5%;
  font-size: 15px;
}
.no-gutters .col-md-4 {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 40px;
}
.overlay .no-border {
  border-left: none;
}
.flx {
  margin: 130px;
}
.flx .row {
  margin-right: 40px;
  margin-left: 40px;
}
.flx .row h4 {
  margin-top: 15%;
  font-weight: 600;
}
@media screen and (max-width: 560px) {
  header {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    filter: brightness(0.8);
  }
  img {
    height: 100%;
  }
  .centered-intro h1 {
    font-size: 3em;
  }
  .centered-intro {
    padding: 35px;
    margin-top: 20px;
    font-size: 0.7em;
    height: 50vh;
  }
  .centered-intro p {
    line-height: 25px;
  }
  .centered-intro a {
    width: 100%;
  }
  .firstContainerpad p,
  .firstContainerpad h4 {
    padding-top: 3%;
  }
  .firstContainerpad p {
    font-size: 18px;
  }
  .wrap {
    margin: 5%;
  }
  .ctn .col-12 p {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 27px;
    color: #999999;
  }
  .flx {
    margin: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0%;
  }
  .flx .row {
    margin: 0px 0px 30px 0px;
  }
  .flx .row .col-12 {
    padding: 5%;
  }
  .flx .row .col-12 p {
    padding: 0px 10%;
  }
  .flx .row h4 {
    font-size: 27px;
    font-weight: 600;
  }
  .parallax {
    background-attachment: scroll;
  }

  .no-gutters .col-md-4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 12%;
    margin-top: 12%;
  }
  .overlay h4 {
    font-size: 20px;
  }
  .overlay .none {
    border-bottom: none;
  }
  .overlay .col-md-4 {
    border-left: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .no-gutters button {
    width: 100%;
  }
  form {
    margin: 7%;
  }
}
form {
  margin-top: 7%;
}
.form-pad .col-12,
.form-pad .col-sm-6 {
  padding: 10px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
}

footer p {
  color: rgba(0, 0, 0, 0.4);
}

.icons {
  font-size: 30px;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
